.form-field{
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: $spacing-4;
  margin-bottom: $spacing-4;
  & > .input-label{
    width: 48px;
  }
  & > input, & > select{
    width: 133px;
    height: 32px;
    font-size: $font-body-1;
    color: $dark-400;
    margin-left: auto;
    &:focus{
      box-shadow: none;
      border-color: $light;
    }
  }
  .input-icon{
    position: absolute;
    right: 0;
    height: 16px;
    width: auto;
    top: 8px;
    right: 8px;
  }
}