.form-field{
  display: flex;
  align-items: center;
  position: relative;
  padding: $spacing-4 0;
  .input-label{
    width: 48px;
    margin-right: $spacing-4;
  }
  & > input, & > select{
    min-width: 133px;
    height: 32px;
    font-size: $font-body-1;
    color: $dark-400;
    padding-right: 20px;
    margin-left: auto;
    &:focus{
      box-shadow: none;
      border-color: $light;
    }
  }
  .input-icon{
    position: absolute;
    height: 16px;
    width: auto;
    right: 8px;
  }
}
.borderd-fields{
  .form-field{
    border-bottom: 1px solid $light;
    &:last-child{
      border-bottom: none;
    }
  }
}