.extension-accordion {
  padding-top: $spacing-4;
  .accordion-body {
    padding: 0;
    background-color: $light-100;
  }
  .accordion-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0px;
    border-color: $dark-100;
    &:focus{
      background-color: $light-100;
    }
  }
  .accordion-button {
    background-color: $light-100;
    font-size: $font-md;
    font-weight: $font-bold;
    color: $dark-700;
    display: flex;
    align-items: center;
    padding: $spacing-4 0;
    &::after {
      width: 10px;
      height: 6px;
      background-size: cover;
      background-image: url("../media/accordion-arrow.png");
    }
    &:focus {
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0.125);
      background-color: $light-100;
    }
    &:not(.collapsed) {
      box-shadow: none;
      background-color: $light-100;
    }
    .extension-icon {
      margin-right: $spacing-4;
    }
  }
}