* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}

// MAIN STYLING
.extension {
  width: 100%;
  background-color: $light-100;
  min-height: 206px;
  border: 1px solid rgba(225, 225, 225, 0.7);
  border-radius: 5px;
  position: relative;
  .extension-wrapper {
    padding: $spacing-4;
  }
}
.extension-inner {
  .product-heading {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .product-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}



.powered-by {
  display: flex;
  justify-content: end;
  padding-top: $spacing-4;
}