// font-family : 'Lato'
// font-weights: 400, 700
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

// Partial SCSS Files
@import "./modules/_root";
@import "./modules/_switch-button.scss";
@import "./modules/_form.scss";
@import "./modules/table";
@import "./modules/main-accordion";
@import "./modules/store-accordion";

body {
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

// MAIN STYLING
.extension {
  width: 200px;
  background-color: #fafafa;
  min-height: 206px;
  border: 1px solid rgba(225, 225, 225, 0.7);
  border-radius: 5px;
  position: relative;
  .extension-wrapper {
    padding: $spacing-4;
  }
}
.extension-inner {
  .product-heading {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .product-img {
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
}



.powered-by {
  display: flex;
  justify-content: end;
  padding-top: $spacing-4;
}
