//Font Sizes
$font-lg: 16px;
$font-md: 14px;
$font-sm: 10px;
$font-body-1: 12px;
$font-body-2: $font-sm;
$font-body-3: 9px;
$font-label-1: $font-body-1;
$font-label-2: $font-body-3;

// Font Weights
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;

// Theme Colors
$dark-700: #000000;
$dark-500: #272b41;
$dark-400: #5a5f7d;
$dark-300: #c4c4c4;
$dark-200: #adb4d2;
$dark-100: #e1e1e1;
$light: #e3e3e3;

$white: #fff;

$primary: #ff9900;
$secondary: $dark-700;

//Accent Colors
$warning: #ee3224;
$success: #44bf00;
$info: $dark-400;
$blue: #1565D8;

//Spacings
$spacing-0: 0px;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 6px;
$spacing-4: 8px;
$spacing-7: 14px;

//Border Radius
$radius-xs: 5px;
$radius-sm: 10px;
$radius-md: 20px;
$radius-lg: 40px;

// FONT SIZES
h1,
.text-h1 {
  font-size: $font-lg;
  line-height: $font-lg;
  font-weight: $font-bold;
}
h2,
.text-h2 {
  font-size: $font-md;
  line-height: $font-lg;
  font-weight: $font-bold;
}
h3,
.text-h3 {
  font-size: $font-sm !important;
  line-height: $font-lg;
  font-weight: $font-bold;
  margin-bottom: $spacing-2;
  color: $dark-700;
}
.text-success {
  color: $success;
}
.text-primary{
  color: $primary !important;
}
.text-warning {
  color: $warning !important;
}
.text-blue{
  color: $blue;
}
.text-dark-400 {
  color: $dark-400;
}
.border-bottm {
  border-color: rgba(225, 225, 225, 0.7);
}
span{
  margin-bottom: 0;
}
.border-top{
  border-top: 1px solid $light;
}
.saperator{
  height: 100%;
  width: 1px;
  background-color:$dark-400;
  height: 14px;
  display: block;
  margin: 0 $spacing-3;
}
.img-sm{
  height: 16px;
  width: 16px;
  object-fit: contain;
}
